body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0056b3;
}

p {
    font-size: 18px;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.success {
  color: green;
}
.error {
  color: red;
}
