<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Blog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Bienvenido a Mi Blog commit</h1>
        <p>Este es un blog simple hecho con Flask.</p>
        {% include 'navbar.html' %}
        <div>
            {% block content %}
            este es el base html
            {% endblock %}
        </div>
    </body>
</html>